.card {
  margin: 0 25px;
  padding: 20px;
  max-width: 1000px;
}

.quote {
  padding: 20px;
  font-size: 3rem;
  text-shadow: 1px 1px 1px white;
  background-color: rgba(128, 128, 128, 0.521);
  box-shadow: -10px -10px 10px rgb(58, 58, 58);
}

.quote > i {
  text-shadow: none;
}

.author {
  position: relative;
  bottom: 30px;
  right: 20px;
  float: right;
  padding: 5px 20px;
  padding-top: 20px;
  background-color: rgba(135, 163, 224, 0.733);
  color: white;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px black;
}
