.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 20px 10px 20px;
  background-color: #333;
  color: white;
  font-size: 2rem;
  opacity: 0.8;
}

.header i {
  color: #aaaaaa;
  padding-right: 20px;
}

.header i:hover {
  color: skyblue;
}
